.game {
    display: flex;
    margin-top: 50px;
    flex-wrap: wrap;
    align-items: center;
    &__player {
        display: flex;
        flex-direction: column;
        .text {
            @include gameText(1.2rem, 300, 2.5rem);
        }
    }
    &__you {
        order: 1;
        margin-right: 2.5rem;
    }
    &__house {
        order: 3;
        margin-left: 2.5rem;
        .counter {
            height: 250px;
            width: 250px;
            border-radius: 50%;
            background-color: rgba($color: #000000, $alpha: 0.3);
            font-size: 8rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
    .icon {
        height: 250px;
        width: 250px;
        border-radius: 50%;
        border-color: transparent;
        border: 18px solid;
        background-size: 50%;
        &--paper {
            @include icon($imageP, $paper-gradient);
            &--winner {
                @include bigShadow($paper-gradient);
            }
        }
        &--scissors {
            @include icon($imageS, $scissors-gradient);
            &--winner {
                @include bigShadow($scissors-gradient);
            }
        }
        &--rock {
            @include icon($imageR, $rock-gradient);
            &--winner {
                @include bigShadow($rock-gradient);
            }
        }
        &--lizard {
            @include icon($imageL, $lizard-gradient);
            &--winner {
                @include bigShadow($lizard-gradient);
            }
        }
        &--spock {
            @include icon($imageSp, $spock-gradient);
            &--winner {
                @include bigShadow($spock-gradient);
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .game {
        width: 100%;
        &__player {
            margin-right: 0rem;
            flex-grow: 1;
            flex-basis: 50%;
            .text {
                font-size: 1rem;
                order: 2;
                margin-bottom: 0rem;
                margin-top: 2.5rem;
            }
        }
        &__you {
            order: 1;
        }
        &__house {
            order: 2;
            margin-left: 0rem;
        }
        .icon,
        .counter {
            height: 120px;
            width: 120px;
            margin: auto;
        }
    }
}
